{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qualifier Result Prediction</title>
    <link rel="shortcut icon" href="{% static 'Logo.png' %}" type="image/png"> 
    <link rel="icon" type="image/png" href="{% static 'Logo.png' %}"> 
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .mobile{
            display: none;
        }

        .desktop {
            display: block;
        }

        @media screen and (max-width: 800px) {
            .desktop {
                display: none;
            }

            .mobile {
                display: block;
            }
        }
    </style>
</head>
<body>
    <div class="container desktop">
        <div class="box box-1">
            <div class="heading">
                <h2>Qualifier Marks Calculator</h2>
                <p></p>
            </div>
            <button class="talk">
                IP
            </button>
            <button class="group">
                Credits
            </button><br><br><br>
            <div class="form">
                <form action="upload" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="file" name="file" id="file" style="margin-left: 50px" required>
                    <br><br>
                    <input type="submit" name="submit" class='submit'>
                </form>
            </div>

            {% if something %}
            <hr>
            <h2>Hi, {{name}} !! Your Paper Code: {{code}}</h2>

        <br><br>
        <table class="details">
            <tr>
              <th> Marks Obtained </th>
              <th> Total Marks </th>
              <th> Pass Marks </th>
              <th> Obtained Per. </th>
              <th> Passing Per. </th>
            </tr>
            <tr>
              <td>{{count}}</td>
              <td>200</td>
              <td>100 (GEN)</td>
              <td>{{total_percentage}}%</td>
              <td>50%</td>
            </tr>
          </table>
          <br><h2><span style="border-bottom: 1px solid black"> Subject-wise Marks </span></h2><br>
          <table class="details">
            <tr>
              <th>  </th>
              <th> English </th>
              <th> CT </th>
              <th> Statistics </th>
              <th> Maths </th>
            </tr>
            <tr>
              <td>Obtained</td>
              <td>{{engcount}}</td>
              <td>{{ctcount}}</td>
              <td>{{statcount}}</td>
              <td>{{mathcount}}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Percentage</td>
                <td>{{engper}}%</td>
                <td>{{ctper}}%</td>
                <td>{{statper}}%</td>
                <td>{{mathper}}%</td>
              </tr>
              <tr>
                <td>Passing Per.</td>
                <td>40%</td>
                <td>40%</td>
                <td>40%</td>
                <td>40%</td>
              </tr>
          </table>

          {% endif %}

        </div>

        <div class="box box-2">
            <div class="heading">
                <h2>Qualifier Marks Calculator</h2>
                <p></p>
            </div>
            <button class="talk">
                IP
            </button>
            <button class="group-close" style="margin-bottom: 100px;">
                Close
            </button>

            
            <h3 class="gp-contents"><strong>Diptam Paul</strong></h3>
            Connect with Diptam @
            <a href="https://www.linkedin.com/in/diptam-paul/">https://www.linkedin.com/in/diptam-paul/</a>
            <h3 class="gp-contents"><strong>Special Thanks</strong> to</h3>
            <h3 class="gp-contents"><strong>Mohit Singh</strong></h3>
            <a href="https://colab.research.google.com/drive/1PDevzeXhyXhcppIXVcYur1W2GByRhneb?usp=sharing">Mohit's Code <p style="font-size:0.8em; display: inline-block">(click here)</p></a> <br><br>
            Connect with Mohit @
            <a href="www.linkedin.com/in/mohitsinsniwal">www.linkedin.com/in/mohitsinsniwal</a><br>
            <h3 class="gp-contents"><strong>Abhishek Kumar</strong></h3>
            Connect with Abhishek @
            <a href="https://www.linkedin.com/in/abhishek-kumar-b5184520/">https://www.linkedin.com/in/abhishek-kumar-b5184520/</a>
        </div>



    </div>

    <div class="container mobile">
        <br><br><br><br>
        <h1>Please Open it in Desktop Mode</h1>
        <h2>This Webpage is not Responsive</h2>
    </div>




    <script>
        //answers
//const greetings = ['Hello Mate', 'How are you doing today?', "What's Up homeboi"]


//dom
const btn = document.querySelector('.talk');
const group = document.querySelector('.group')
const group_cls = document.querySelector('.group-close')
const main_content = document.querySelector('.box-1')
const group_content = document.querySelector('.box-2')
const submit_btn = document.querySelector('.submit')



//btn hover effect
btn.addEventListener('mouseenter', function(e){
    e.target.textContent = '{{ip}}'
    e.target.style.width = '200px'
    e.target.style.boxShadow = '5px 5px 5px 6px #ccc'
})
btn.addEventListener('mouseleave', function(e){
    e.target.textContent = 'IP'
    e.target.style.width = '150px'
    e.target.style.boxShadow = '3px 3px 5px 6px #ccc'
})

group.addEventListener('click',function(e){
    main_content.style.display = 'None';
    group_content.style.display = 'block';
})

group_cls.addEventListener('click',function(e){
    main_content.style.display = 'block';
    group_content.style.display = 'none';
})
    </script>
</body>
</html>